<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CCL</title>
        <link rel="stylesheet" href="/css/my-bulma-project.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src="/navbar.js"></script>
        <script type="module" src="/classView.js"></script>
    </head>
    <body>
        <!-- NAVBAR -->
        <div class="container mt-5">
            <div class="box has-background-primary m-2">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-2by3" style="width: 192px; height: 256px; object-fit: fill; loading: lazy; border-radius: 0.5rem;" id = "classPhotoContainer">
                            <img src="/images/128x128.png" id="classPhoto">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <p class="title is-2" id="className">Class Name</p>
                                    <p class="subtitle is-4 mb-5" id="teacherName">Teacher Name</p>
                                </div>
                                <div class="column is-4">
                                    <div class="is-flex is-justify-content-flex-end mb-2">
                                        <button class="button" id="editClassButton">
                                            <span class="icon"><i class="fas fa-solid fa-pen-to-square"></i></span>
                                        </button>
                                    </div>
                                    <p id="studentCount" class="is-italic has-text-right mt-2">Student Number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="container mt-5" id="studentListContainer">
             
        </div>
    </body>
</html>