<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CCL</title>
    <link rel="icon" type="image/svg+xml" href="/images/cca_icon.png">
    <link rel="stylesheet" href="/css/my-bulma-project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script type="module" src="./navbar.js"></script>
    <script type="module" src="./frontPage.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="section">
      <div class="container">
        <div class="box has-background-info">
          <h1 class="title has-text-info-light">Welcome to the CCA Library!</h1>
          <p class="subtitle" id="subtitle"></p>
        </div>
      </div>
    </div>
  </body>
</html>